* {
  min-height: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 0;
}

window#waybar {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

#workspaces button {
  color: #ffffff;
  border-radius: 100%;
}

#workspaces button:hover {
  background-color: initial;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.2);
}

tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

tooltip label {
  color: #ffffff;
  text-shadow: none;
}

#cpu,
#memory,
#disk,
#tray,
#battery,
#bluetooth,
#network,
#clock {
  background-color: #6e1c1c;
  border-radius: 5px;
  padding: 0px 10px;
}

#cpu {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#memory {
  border-radius: 0px;
}

#disk {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* #workspaces button {
  padding: 5px;
  color: #f6f7fc;
  margin-right: 5px;
}

#workspaces button.active {
  color: #000000;
  background-color: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_kitty,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
  background-color: rgba(21, 18, 27, 0);
  opacity: 0.8;
  padding: 0px 8px;
  margin: 0px 3px;
  border: 0px;
}

#temperature.critical {
  color: #e92d4d;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_wofi,
#custom-launch_kitty,
#custom-weather {
  margin-left: 0px;
  border-right: 0px;
  font-size: 24px;
  margin-right: 20px;
}

#custom-launch_firefox,
#custom-launch_kitty {
  font-size: 20px;
} */
