* {
  min-height: 0;
  /* font-family: Inter, sans-serif; */
  font-size: 15px;
  border: none;
  border-radius: 0;
}

window#waybar {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

#workspaces button {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 10px;
}

#workspaces button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#workspaces button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

tooltip label {
  color: #ffffff;
  text-shadow: none;
}

#cpu,
#memory,
#disk,
#custom-launcher,
#custom-screenshot,
#custom-colorpicker,
#custom-emojipicker,
#tray,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#clock,
#custom-update,
#custom-shutdown {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 0px 10px;
}

#cpu,
#custom-launcher,
#backlight {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#memory,
#custom-screenshot,
#custom-colorpicker,
#pulseaudio,
#bluetooth {
  border-radius: 0px;
}
#disk,
#custom-emojipicker,
#network {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#custom-launcher,
#backlight,
#clock,
#custom-update,
#custom-shutdown {
  margin-left: 5px;
}
